@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2F36;
    color: #C9BBAE;
}

h2 {
    text-align: center;
    margin-top: 5rem;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.3rem;
}

h2 span {
    color: #FF6800;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 310px;
}


input , button {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
}
input {
    font-size: 1rem;
}

input:focus {
    background: #E1DFDF;
}


button {
    cursor: pointer;
    background: #3D4248;
    color: #C9BBAE;
    border: none;
    font-size: 1rem;
}

button:hover {
    background-color: #4C5056;
    color: #FF6800;
}